<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Tigren_ShippingRestrictions::second_level"
             title="Shipping Restrictions Rules"
             module="Tigren_ShippingRestrictions"
             sortOrder="2"
             action="shipping_restrictions/rule/index"
             parent="Tigren::first_level"
             resource="Magento_Backend::content" />
    </menu>
</config>