<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Tigren_Testimonial::second_level"
             title="Customer Testimonial"
             module="Tigren_Testimonial"
             sortOrder="0"
             action="testimonial/question/index"
             parent="Tigren::first_level"
             resource="Magento_Backend::content" />
    </menu>
</config>