<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faq_listing_data_source" xsi:type="string">faq_collection</item>
                <!--                <item name="faq_form_data_source" xsi:type="string">faq_form</item>-->
            </argument>
        </arguments>
    </type>
    <virtualType name="faq_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tigren_faq</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\Faq\Model\ResourceModel\Faq</argument>
        </arguments>
    </virtualType>
</config>
