<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <!-- First-level menu -->
        <add id="Tigren::first_level"
             title="Tigren Modules"
             module="Tigren_CustomerGroupCatalog"
             sortOrder="10"
             resource="Magento_Backend::content"
        />

        <!-- Second-level menu -->
        <add id="Tigren_CustomerGroupCatalog::second_level"
             title="Customer Group Catalog Rules"
             module="Tigren_CustomerGroupCatalog"
             sortOrder="2"
             action="customer_group_catalog/rule/index"
             parent="Tigren::first_level"
             resource="Magento_Backend::content"
        />
    </menu>
</config>
